.description{
    background-image: linear-gradient(rgba(52,58,64,0.8),rgba(52,58,64,0.8)), url(https://i.etsystatic.com/20306769/r/il/2946b9/1903934114/il_570xN.1903934114_spnv.jpg);
background-size: cover;
background-repeat: no-repeat;
}